<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD10KgLqosk_1AckVl5yY3p1mlJFvU0gG4</string>
	<key>GCM_SENDER_ID</key>
	<string>413164119523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alefakeltawinea.alefakaltawineaAnimalsApp</string>
	<key>PROJECT_ID</key>
	<string>alefak-altawnia</string>
	<key>STORAGE_BUCKET</key>
	<string>alefak-altawnia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413164119523:ios:1ea9549f37ae09f0f26cd6</string>
</dict>
</plist>